.section-container {
  padding-inline: calc(50% - 555px);
}

.subtitle {
  font-size: 21px;
  font-weight: 500;
}

.projects {
  background: var(--accent-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.projects__list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  flex-wrap: wrap;
  gap: 15px;
  color: #fff;
}

.projects__item {
  padding-left: 70px;
  padding-top: 4px;
  background: url("../img/project.png") left / 50px 50px no-repeat;
}

.projects__title {
  margin: 0 0 3px;
}

.projects__text {
  margin: 0;
  font-weight: 400;
}

.video {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--grey-back);
}

.video__title {
  font-size: var(--section-title);
  font-weight: 500;
  color: #000;
  text-align: center;
  margin: 0 0 50px;
}

.video__text {
  max-width: 540px;
  text-align: center;
  margin: 0 auto 57px;
  line-height: var(--paragraph-lh);
}

.video__video {
  width: 100%;
  max-width: 1110px;
  aspect-ratio: 16/9;
  max-height: 600px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background: var(--accent-color);
}

.copyrights__title {
  margin-bottom: 20px;
  color: #fff;
}

.copirights__info {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}

@media screen and (max-width: 1199px) {
  .section-container {
    padding-inline: calc(50% - (960px / 2));
  }
  .projects__item {
    padding-left: 60px;
  }
}

@media screen and (max-width: 992px) {
  .section-container {
    padding-inline: calc(50% - (720px / 2));
  }
}

@media screen and (max-width: 768px) {
  .section-container {
    padding-inline: 30px;
  }
}

@media screen and (max-width: 992px) {
}
