.section-container {
  padding-inline: calc(50% - 555px);
}

.subtitle {
  font-size: 21px;
  font-weight: 500;
}

.projects {
  background: var(--accent-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.projects__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  flex-wrap: wrap;
  gap: 15px;
  color: #fff;
}

.projects__item {
  padding-left: 70px;
  padding-top: 4px;
  background: url("../img/project.png") left / contain no-repeat;
}

.projects__title {
  margin: 0 0 3px;
}

.projects__text {
  margin: 0;
  font-weight: 400;
}

.video {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--grey-back);
}

.video__title {
  font-size: var(--section-title);
  font-weight: 500;
  color: #000;
  text-align: center;
  margin: 0 0 50px;
}

.video__text {
  max-width: 540px;
  text-align: center;
  margin: 0 auto 57px;
  line-height: var(--paragraph-lh);
}

.video__iframe {
  width: 100%;
  max-width: 1110px;
  aspect-ratio: 16/9;
  max-height: 600px;
  border: none;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background: var(--accent-color);
}

.copyrights__title {
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
}

.copirights__info {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}

@media screen and (max-width: 1199px) {
  .section-container {
    padding-inline: calc(50% - (960px / 2));
  }
}

@media screen and (max-width: 991px) {
  .section-container {
    padding-inline: calc(50% - (720px / 2));
  }

  .projects__list {
    max-width: 100%;
    gap: 20px;
  }

  .projects__item {
    flex-basis: 31%;
  }
}

@media screen and (max-width: 767px) {
  .section-container {
    padding-inline: 30px;
  }

  .projects__item {
    flex-basis: 25%;
  }
}

@media screen and (max-width: 575px) {
  .section-container {
    padding-inline: 15px;
  }

  .subtitle {
    font-size: 3.5vw;
  }

  .video__title {
    font-size: 5vw;
  }

  .video,
  .projects {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .projects__text,
  .video__text {
    font-size: 2.7vw;
  }

  .projects__item {
    padding-left: 13%;
  }

  .video__title {
    margin-bottom: 17px;
  }

  .video__text {
    margin-bottom: 25px;
    max-width: 80%;
  }

  .footer {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
  }

  .copyrights__title {
    margin-bottom: 10px;
  }

  .copirights__info {
    font-size: 2.2vw;
  }
}
