.section-container {
  padding-inline: calc(50% - 555px);
}

.section-title {
  font-size: var(--section-title);
  font-weight: 500;
  color: #000;
}

.paragraph-center {
  max-width: 540px;
  text-align: center;
  line-height: var(--paragraph-lh);
}

.subtitle {
  font-size: 21px;
  font-weight: 500;
}

.header {
  background: var(--grey-back);
  padding-top: 80px;
  padding-bottom: 80px;
}

.nav {
  max-width: 565px;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.nav__link {
  text-decoration: transparent;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
}

.nav__item--active .nav__link {
  font-weight: 500;
  color: var(--accent-color);
}

.hero {
  padding-top: 80px;
  padding-bottom: 140px;
  background: var(--grey-back);
}

.offer__title {
  font-size: 48px;
  font-weight: 500;
  margin: 0 0 60px;
  color: #000;
}

.offer__text {
  max-width: 540px;
  margin: 0 0 65px;
  line-height: var(--paragraph-lh);
}

.btn {
  padding: 21px 41px;
  color: #fff;
  text-transform: uppercase;
  line-height: var(--paragraph-lh);
  letter-spacing: 0.1em;
  background: var(--accent-color);
  border: none;
  cursor: pointer;
}

.about {
  padding-top: 112px;
  padding-bottom: 100px;
}

.about__title {
  text-align: center;
  margin-bottom: 50px;
}

.about__text {
  margin: 0 auto;
}

.projects {
  background: var(--accent-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.projects__list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  flex-wrap: wrap;
  gap: 15px;
  color: #fff;
}

.projects__item {
  padding-left: 70px;
  padding-top: 4px;
  background: url("../img/project.png") left / 50px 50px no-repeat;
}

.projects__title {
  margin: 0 0 3px;
}

.projects__text {
  margin: 0;
  font-weight: 400;
}

.video {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--grey-back);
}

.video__title {
  text-align: center;
  margin: 0 0 50px;
}

.video__text {
  margin: 0 auto 57px;
}

.video__video {
  width: 100%;
  max-width: 1110px;
  aspect-ratio: 16/9;
  max-height: 600px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background: var(--accent-color);
}

.copyrights__title {
  margin-bottom: 20px;
  color: #fff;
}

.copirights__info {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}
