.section-container {
  padding-inline: calc(50% - 555px);
}

.section-title {
  font-size: var(--section-title);
  font-weight: 500;
  color: #000;
}

.paragraph-center {
  max-width: 540px;
  text-align: center;
  line-height: var(--paragraph-lh);
}

.subtitle {
  font-size: 21px;
  font-weight: 500;
}

.burger {
  width: 25px;
  margin-left: auto;
  display: none;
  flex-direction: column;
  gap: 5px;
}

.burger__line {
  border: 1px solid #000;
}

.header {
  background: var(--grey-back);
  padding-top: 80px;
  padding-bottom: 80px;
}

.nav {
  max-width: 565px;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.nav__link {
  text-decoration: transparent;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
}

.nav__item--active .nav__link {
  font-weight: 500;
  color: var(--accent-color);
}

.hero {
  padding-top: 80px;
  padding-bottom: 140px;
  background: var(--grey-back);
}

.offer__title {
  font-size: 48px;
  font-weight: 500;
  margin: 0 0 60px;
  color: #000;
}

.offer__text {
  max-width: 540px;
  margin: 0 0 65px;
  line-height: var(--paragraph-lh);
}

.btn {
  padding: 21px 41px;
  color: #fff;
  text-transform: uppercase;
  line-height: var(--paragraph-lh);
  letter-spacing: 0.1em;
  background: var(--accent-color);
  border: none;
  cursor: pointer;
}

.about {
  padding-top: 112px;
  padding-bottom: 100px;
}

.about__title {
  text-align: center;
  margin: 0 0 50px;
}

.about__text {
  margin: 0 auto;
}

.projects {
  background: var(--accent-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.projects__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  flex-wrap: wrap;
  gap: 15px;
  color: #fff;
}

.projects__item {
  padding-left: 70px;
  padding-top: 4px;
  background: url("../img/project.png") left / contain no-repeat;
}

.projects__title {
  margin: 0 0 3px;
}

.projects__text {
  margin: 0;
  font-weight: 400;
}

.video {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--grey-back);
}

.video__title {
  text-align: center;
  margin: 0 0 50px;
}

.video__text {
  margin: 0 auto 57px;
}

.video__video {
  width: 100%;
  max-width: 1110px;
  aspect-ratio: 16/9;
  max-height: 600px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background: var(--accent-color);
}

.copyrights__title {
  margin: 0 0 20px;
  color: #fff;
}

.copirights__info {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}

@media screen and (max-width: 1199px) {
  .section-container {
    padding-inline: calc(50% - (960px / 2));
  }
}

@media screen and (max-width: 991px) {
  .section-container {
    padding-inline: calc(50% - (720px / 2));
  }

  .projects__list {
    max-width: 100%;
    gap: 20px;
  }

  .projects__item {
    flex-basis: 31%;
  }
}

@media screen and (max-width: 767px) {
  .section-container {
    padding-inline: 30px;
  }

  .projects__item {
    flex-basis: 25%;
  }
}

@media screen and (max-width: 575px) {
  .section-container {
    padding-inline: 15px;
  }

  .subtitle {
    font-size: 3.5vw;
  }

  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .hero {
    padding-top: 30px;
    padding-bottom: 65px;
  }

  .offer__title {
    font-size: 7.5vw;
    margin-bottom: 25px;
  }

  .offer__text {
    margin-bottom: 35px;
  }

  .projects,
  .about,
  .video {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .video__title,
  .about__title {
    font-size: 5.5vw;
    margin-bottom: 20px;
  }

  .offer__text,
  .projects__text,
  .video__text,
  .about__text {
    font-size: 2.7vw;
    width: 80%;
  }

  .projects__item {
    padding-left: 13%;
  }

  .video__text {
    margin-bottom: 25px;
  }

  .footer {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
  }

  .copyrights__title {
    margin-bottom: 10px;
  }

  .copirights__info {
    font-size: 2.2vw;
  }
}

@media screen and (max-width: 474px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .nav {
    display: none;
  }

  .burger {
    display: flex;
  }

  .btn {
    padding: 10px 20px;
    font-size: 13px;
  }

  .offer__text,
  .projects__text,
  .video__text,
  .about__text {
    font-size: 13px;
  }
}
