.section_container {
  padding: 0 400px;
}
.header {
  padding-top: 80px;
  padding-bottom: 70px;
  background: var(--grey-back);
}
.navigation {
  width: 520px;
}
.header_menu_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
  padding: 0;
}

.header_menu_grid_link {
  color: #000;
  text-decoration: transparent;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.header_menu_grid-link-home {
  font-weight: 500;
  color: var(--accent-color);
}
.offer {
  padding-bottom: 140px;
  padding-top: 90px;
  background: var(--grey-back);
}
.offer__title {
  margin: 0 0 60px;
  font-size: 48px;
  font-weight: 500;
  color: #000;
}
.offer__text {
  margin: 0 0 65px;
  max-width: 540px;
  line-height: var(--paragraph-lh);
}

.offer__btn {
  background-color: var(--accent-color);
  color: #ffffff;
  padding: 21px 41px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: none;
  cursor: pointer;
}
.about {
  padding-top: 112px;
  padding-bottom: 100px;
}
.about__title {
  margin: 0 0 50px;
  text-align: center;
  color: #000;
  font-weight: 500;
  font-size: var(--section-title);
}
.about__text {
  margin: 0 auto;
  max-width: 540px;
  text-align: center;
}
