.section_container {
  background: var(--grey-back);
  padding: 0 400px;
}
.header {
  padding-top: 80px;
  padding-bottom: 70px;
}
.navigation {
  width: 520px;
}
.header_menu_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
  padding: 0;
}

.header_menu_grid_link {
  color: #000;
  text-decoration: transparent;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.header_menu_grid-link-home {
  font-weight: 500;
  color: var(--accent-color);
}

.section_container_offer {
  background: var(--grey-back);
  padding-top: 30px;
  padding-left: 400px;
  padding-bottom: 300px;
  padding-right: 1000px;
  font-size: 16px;
  line-height: 164%;
  font-weight: 400;
  color: var(--paragraph-color);
}
h1 {
  font-size: 48px;
  font-weight: 500;
  color: #000;
}

.button_write-to-me {
  width: 225px;
  height: 65px;
  background-color: var(--accent-color);

  color: #ffffff;
  position: absolute;
  top: 494px;
  left: 400px;
  text-align: center;
  text-justify: center;
}

.about_container {
  padding: 90px 690px;
  text-justify: center;
  text-align: center;
  line-height: 164%;
}

h2 {
  color: black;
  font-size: 32px;
  font-weight: 500;
  justify-self: center;
}
