@import url("variables.css");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-stack);
  font-size: var(--paragraph-fz);
  color: var(--paragraph-clr);
}
