@use "vars";
@use "global";
@use "mixins";
.about {
  padding-top: 112px;
  padding-bottom: 100px;
  &__title {
    margin: 0 0 50px;
    text-align: center;
    color: #000;
    font-weight: 500;
    font-size: vars.$section-title;
  }

  &__text {
    @include mixins.centered-text;
  }
}
