@use "vars";
@use "global";
.offer {
  padding-bottom: 140px;
  padding-top: 90px;
  background: vars.$grey-back;

  &__title {
    margin: 0 0 60px;
    font-size: 48px;
    font-weight: 500;
    color: #000;
  }
  &__text {
    margin: 0 0 65px;
    max-width: 540px;
    line-height: vars.$paragraph-lh;
  }

  &__btn {
    background-color: vars.$accent-color;
    color: #ffffff;
    padding: 21px 41px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: none;
    cursor: pointer;
  }
}
