@use "vars";
@use "global";

.projects {
  background: vars.$accent-color;
  padding-top: 100px;
  padding-bottom: 100px;
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    max-width: 95%;
    flex-wrap: wrap;
    gap: 15px;
    color: #fff;
  }

  &__item {
    padding-left: 70px;
    padding-top: 4px;
    background: url("../img/project.png") left / contain no-repeat;
  }

  &__title {
    margin: 0 0 3px;
  }

  &__text {
    margin: 0;
    font-weight: 400;
  }
}
