@use "vars";
@use "global";

.video {
  padding-top: 100px;
  padding-bottom: 100px;
  background: vars.$grey-back;
  &__title {
    font-size: vars.$section-title;
    font-weight: 500;
    color: #000;
    text-align: center;
  }
  margin: 0 0 50px;
  &__text {
    max-width: 540px;
    text-align: center;
    margin: 0 auto 57px;
    line-height: vars.$paragraph-lh;
  }
  &__iframe {
    width: 100%;
    max-width: 1110px;
    aspect-ratio: 16/9;
    max-height: 600px;
    border: none;
  }
}
