@use "../abstracts" as a;

.hero {
  padding-top: 80px;
  padding-bottom: 140px;
  background: a.$grey-back;

  @include a.sm {
    padding-top: 30px;
    padding-bottom: 65px;
  }
}

.offer__title {
  font-size: a.$fz-h1;
  margin-bottom: 60px;
  color: #000;

  @include a.sm {
    margin-bottom: 25px;
  }
}

.offer__text {
  max-width: 540px;
  margin-bottom: 65px;
  line-height: a.$lh-base;

  @include a.sm {
    margin-bottom: 35px;
    font-size: 13px;
    width: 80%;
  }
}

.about {
  padding-top: 112px;
  padding-bottom: 100px;

  &__title {
    text-align: center;
    margin-bottom: 50px;
    @include a.section-title;
    @include a.sm {
      margin-bottom: 20px;
    }
  }

  &__text {
    margin: 0 auto;

    @include a.sm {
      width: 80%;
      font-size: 13px;
    }
  }

  @include a.sm {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.projects {
  background: a.$accent;
  padding-top: 100px;
  padding-bottom: 100px;

  &__list {
    display: flex;
    justify-content: space-between;
    max-width: 95%;
    flex-wrap: wrap;
    gap: 15px;
    color: #fff;
  }

  &__item {
    padding-left: min(4.37em, 15%);
    padding-top: 4px;
    background: url("../img/project.png") left / contain no-repeat;

    @include a.lg {
      flex-basis: 31%;
    }

    @include a.md {
      flex-basis: 25%;
    }
  }

  &__title {
    font-size: a.$fz-h3;
    margin-bottom: 3px;
  }

  &__text {
    @include a.sm {
      font-size: 13px;
      width: 80%;
    }
  }
}

.video {
  padding-top: 100px;
  padding-bottom: 100px;
  background: a.$grey-back;

  @include a.sm {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__title {
    text-align: center;
    margin-bottom: 50px;

    @include a.section-title;

    @include a.sm {
      margin-bottom: 20px;
    }
  }

  &__text {
    margin: 0 auto 57px;

    @include a.sm {
      font-size: 13px;
      width: 80%;
      margin-bottom: 25px;
    }
  }

  &__video {
    width: 100%;
    max-width: 1110px;
    aspect-ratio: 16/9;
    max-height: 600px;
    border: none;
  }
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background: a.$accent;

  @include a.sm {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
  }
}

.copyrights__title {
  font-size: a.$fz-h3;
  margin-bottom: 20px;
  color: #fff;

  @include a.sm {
    margin-bottom: 10px;
  }
}

.copirights__info {
  font-size: 13px;
  color: #fff;

  @include a.sm {
    font-size: 2.2vw;
  }
}
