@use "../abstracts" as a;

.hero {
  padding-top: 80px;
  padding-bottom: 140px;
  background: a.$grey-back;

  @include a.sm {
    padding-top: 30px;
    padding-bottom: 65px;
  }
}

.offer__title {
  font-size: a.$fz-h1;
  margin-bottom: 60px;
  color: #000;

  @include a.sm {
    margin-bottom: 25px;
  }
}

.offer__text {
  max-width: 540px;
  margin-bottom: 65px;
  line-height: a.$lh-base;

  @include a.sm {
    margin-bottom: 35px;
    font-size: 13px;
    width: 80%;
  }
}

.about {
  padding-top: 112px;
  padding-bottom: 100px;

  &__title {
    text-align: center;
    margin-bottom: 50px;
    @include a.section-title;
    @include a.sm {
      margin-bottom: 20px;
    }
  }

  &__text {
    margin: 0 auto;

    @include a.sm {
      width: 80%;
      font-size: 13px;
    }
  }

  @include a.sm {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
