@use "../abstracts" as abst;

.burger {
  width: 25px;
  margin-left: auto;
  display: none;
  flex-direction: column;
  gap: 5px;

  &__line {
    border: 1px solid #000;
  }

  @include abst.custom {
    display: flex;
  }
}
