@use "../abstracts" as a;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: a.$font-stack;
  font-size: a.$fz-base;
  color: a.$par-color;
  margin: 0;
  background: a.$body-back;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 500;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: transparent;
  cursor: pointer;
}
