.hero {
  padding-top: 80px;
  padding-bottom: 140px;
  background: #eeeff1;
}
@media screen and (max-width: 575.98px) {
  .hero {
    padding-top: 30px;
    padding-bottom: 65px;
  }
}

.offer__title {
  font-size: clamp(1.5em, 4vw + 1em, 3em);
  margin-bottom: 60px;
  color: #000;
}
@media screen and (max-width: 575.98px) {
  .offer__title {
    margin-bottom: 25px;
  }
}

.offer__text {
  max-width: 540px;
  margin-bottom: 65px;
  line-height: 1.64;
}
@media screen and (max-width: 575.98px) {
  .offer__text {
    margin-bottom: 35px;
    font-size: 13px;
    width: 80%;
  }
}

.about {
  padding-top: 112px;
  padding-bottom: 100px;
}
.about__title {
  text-align: center;
  margin-bottom: 50px;
  font-size: clamp(1.3em, 2vw + 1em, 2em);
  color: #000;
}
@media screen and (max-width: 575.98px) {
  .about__title {
    margin-bottom: 20px;
  }
}
.about__text {
  margin: 0 auto;
}
@media screen and (max-width: 575.98px) {
  .about__text {
    width: 80%;
    font-size: 13px;
  }
}
@media screen and (max-width: 575.98px) {
  .about {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.projects {
  background: #34547a;
  padding-top: 100px;
  padding-bottom: 100px;
}
.projects__list {
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  flex-wrap: wrap;
  gap: 15px;
  color: #fff;
}
@media screen and (max-width: 991.98px) {
  .projects__list {
    max-width: 100%;
    gap: 20px;
  }
}
.projects__item {
  padding-left: min(4.37em, 15%);
  padding-top: 4px;
  background: url("../img/project.png") left/contain no-repeat;
}
@media screen and (max-width: 991.98px) {
  .projects__item {
    flex-basis: 31%;
  }
}
@media screen and (max-width: 767.98px) {
  .projects__item {
    flex-basis: 25%;
  }
}
.projects__title {
  font-size: clamp(1em, 2vw + 0.5em, 1.32em);
  margin-bottom: 3px;
}
@media screen and (max-width: 575.98px) {
  .projects__text {
    font-size: 2.7vw;
    width: 80%;
  }
}
@media screen and (max-width: 575.98px) {
  .projects {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.video {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #eeeff1;
}
@media screen and (max-width: 575.98px) {
  .video {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.video__title {
  text-align: center;
  margin-bottom: 50px;
  font-size: clamp(1.3em, 2vw + 1em, 2em);
  color: #000;
}
@media screen and (max-width: 575.98px) {
  .video__title {
    margin-bottom: 20px;
  }
}
.video__text {
  margin: 0 auto 57px;
}
@media screen and (max-width: 575.98px) {
  .video__text {
    font-size: 13px;
    width: 80%;
    margin-bottom: 25px;
  }
}
.video__video {
  width: 100%;
  max-width: 1110px;
  aspect-ratio: 16/9;
  max-height: 600px;
  border: none;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #34547a;
}
@media screen and (max-width: 575.98px) {
  .footer {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
  }
}

.copyrights__title {
  font-size: clamp(1em, 2vw + 0.5em, 1.32em);
  margin-bottom: 20px;
  color: #fff;
}
@media screen and (max-width: 575.98px) {
  .copyrights__title {
    margin-bottom: 10px;
  }
}

.copirights__info {
  font-size: 13px;
  color: #fff;
}
@media screen and (max-width: 575.98px) {
  .copirights__info {
    font-size: 2.2vw;
  }
}

/*# sourceMappingURL=index.css.map */
