$font-stack: Roboto, sans-serif;
$fz-base: 16px;
$fz-h1: 48px;
$fz-h2: 32px;
$lh-base: 1.64;
$fw-regular: 400;
$fw-medium: 500;
$accent: #34547a;
$par-color: #727272;
$grey-back: #eeeff1;
$body-back: #f9f9f9;
$screen-xl: 1199.98px;
$screen-lg: 991.98px;
$screen-md: 767.98px;
$screen-sm: 575.98px;
$container-xl: 960px;
$container-lg: 720px;
$container-md: 30px;
$container-sm: 15px;
