$font-stack: Roboto, sans-serif;
$fz-base: 16px;
$fz-h1: clamp(1.5em, 4vw + 1em, 3em);
$fz-h2: clamp(1.3em, 2vw + 1em, 2em);
$fz-h3: clamp(1em, 2vw + 0.5em, 1.32em);
$lh-base: 1.64;
$accent: #34547a;
$par-color: #727272;
$grey-back: #eeeff1;
$body-back: #f9f9f9;
$screen-xl: 1199.98px;
$screen-lg: 991.98px;
$screen-md: 767.98px;
$screen-sm: 575.98px;
$container-xl: 960px;
$container-lg: 720px;
$container-md: 30px;
$container-sm: 15px;
